<!doctype html>
<html>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
         @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
         * {
             font-family: 'Noto Sans KR', sans-serif;
             font-size: 14px;
             line-height: 1.5;
         }

         a:hover, a:active { color: #000 !important; }
         a { color: #337AB7 !important; }

         body { max-width:530px; margin:auto; }
         main { padding:5px; }
         img { max-width:530px; max-height:530px; }

        </style>
    </head>
    <body>
        <div class="container">
            <main> 
                <h4>monologue</h4>
                <p class="">__DEPTH__</p>
                <p class="">__LIST__</p>

                <section>
                    <h2>__PAGE_NAME__</h2>
                    <section>__PAGE_CONTENT__</section>
                    <p><small>- __PAGE_DATE__</small></p>
                </section>

                <p> <small>mootz</small></p>
            </div>
        </main>
    </body>
</html>


    

